{% set root = '/court' %}
<header>
  {{ page.header }}
</header>
  {{ page.breadcrumb }}
<main class="mt-1" id="home">
  {{ page.banner }}
  <section class="row mb-1" id="slider">
    <div class="col">
      {{ page.slider }}
    </div>
    <div class="col">
      {{ page.content }}
    </div>
  </section>

  <section class="row mb-1">
      <div class="col">
        <div class="row row-cols-2">
          {{ page.content1 }}
        </div>
      </div>
      <div class="col-3" id="yewupingtai">
        {{ include('/themes/court/templates/title.html.twig', {title: '业务平台', noMore: 1, haveRedBar: 1}) }}
        <div>
          <a href="#" class="btn btn-primary mt-1 w-100">法院信息管理系统</a>
          <a href="#" class="btn btn-primary mt-1 w-100">法院信息管理系统</a>
          <a href="#" class="btn btn-primary mt-1 w-100">法院信息管理系统</a>
          <a href="#" class="btn btn-primary mt-1 w-100">法院信息管理系统</a>
          <a href="#" class="btn btn-primary mt-1 w-100">法院信息管理系统</a>
        </div>
        <div class="row">
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
        </div>
        <div class="row">
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
        </div>
        <div class="row">
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
          <a class="col btn btn-primary mt-1 mx-1">管理系统</a>
        </div>
        <div class="">
          {{ page.content1r }}
        </div>
        {#
        #}
      </div>
  </section>

  <section class="row mb-1">
      <div class="col">
        <div class="row row-cols-2">
          {{ page.content2 }}
        </div>
      </div>
      <div class="col-3">
        {{ include('/themes/court/templates/title.html.twig', {title: '法院概况', noMore: 1, haveRedBar: 1}) }}
        {{ page.content2r }}
      </div>
  </section>


  <section class="row mx-0 my-1" id="pics">
    <div class="overflow-hidden">
      {{ page.content3 }}
    </div>
  </section>

  <section class="row" id="aboutus">
    <div class="col">
      <div class="row row-cols-2">
          {{ page.content4 }}
      </div>
    </div>

    <div class="col-3">
      {{ include('/themes/court/templates/title.html.twig', {title: '视频', noMore: 1, haveRedBar: 1}) }}
      <div class="bg-white px-2 pt-1 rounded">
      {{ page.content4r }}
      </div>
    </div>
  </section>

  <section class="row mx-0 my-1" id="row-7">
    <div class="overflow-hidden">
      {{ page.content5 }}
    </div>
  </section>

  <section class="row mx-0 my-1" id="row-8">
    <div class="col px-0">
      {{ include('/themes/court/templates/title.html.twig', {title: '相关链接', noMore: 1}) }}
      {{ include('/themes/court/templates/somelinks.html.twig') }}

    </div>
  </section>

  <section class="border-top-red" style="">
  </section>
</main>
{{ page.footer }}

{{ attach_library('court/swiper-css') }}
{{ attach_library('court/swiper-js') }}
{{ attach_library('court/home-titles-js') }}

<!--
	vim:ft=html
-->
