<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="/themes/bs3/css/ie8.css"/>
    <![endif]-->
    <!--[if lt IE 10]>
    <link rel="stylesheet" type="text/css" media="all" href="/themes/bs3/css/ie89.css"/>
    <![endif]-->
  </head>
  <body>
    {{ page_top }}
    <div class="container py-1">
    {{ page }}
    </div>
    {{ page_bottom }}
    <!--[if lt IE 9]>
    <script src="/themes/bs3/js/ie8.js"></script>
    <script src="/themes/bs3/js/html5media/html5media.min.js"></script>
    <![endif]-->
    <js-bottom-placeholder token="{{ placeholder_token | raw }}">
  </body>
</html>

<!--
  vim:ft=html ts=2 sw=2
-->

