<header>
  {{ page.header }}
</header>
  {{ page.breadcrumb }}
<main class="mt-1" id="home">
  {{ page.banner }}
  <section class="row mb-1">
    <div class="col col-md-6">
      {{ page.slider }}
    </div>
    <div class="col col-md-6" id="xinwenzhongxin">
      {{ page.content }}
    </div>
  </section>

  <section class="row mb-1">
      <div class="col col-md-9">
        <div class="row row-cols-2">
          {{ page.content1 }}
        </div>
      </div>
      <div class="col-md-3" id="yewupingtai">
        {{ include('/themes/bs3/templates/title.html.twig', {title: '业务平台', noMore: 1, haveRedBar: 1}) }}
        <div class="">
          {{ page.content1r }}
        </div>
      </div>
  </section>

  <section class="row mb-1">
      <div class="col col-md-9">
        <div class="row row-cols-2">
          {{ page.content2 }}
        </div>
      </div>
      <div class="col-md-3" id="fayuangaishu">
        {{ include('/themes/bs3/templates/title.html.twig', {title: '法院概况', noMore: 1, haveRedBar: 1}) }}
        {{ page.content2r }}
      </div>
  </section>

  <section class="row mx-0 my-1" id="tushuofayuan">
    <div class="col px-0">
      {{ page.content3 }}
    </div>
  </section>

  <section class="row">
    <div class="col col-md-9 ">
      <div class="row row-cols-2">
          {{ page.content4 }}
      </div>
    </div>

    <div class="col-md-3" id="shipin">
      {{ include('/themes/bs3/templates/title.html.twig', {title: '视频', noMore: 1, haveRedBar: 1}) }}
      <div class="bg-white px-2 py-1 rounded" id="video-list">
      {{ page.content4r }}
      </div>
    </div>
  </section>

  <section class="row mx-0 my-1" id="sheyingzhanlan">
    <div class="col px-0">
      {{ page.content5 }}
    </div>
  </section>

  <section class="row mx-0 my-1" id="xiangguanlianjie">
    <div class="col px-0">
      {{ include('/themes/bs3/templates/title.html.twig', {title: '相关链接', noMore: 1}) }}
      {{ page.links }}
    </div>
  </section>

  <div class="border-top-red">
  </div>
</main>
{{ page.footer }}

{{ attach_library('bs3/slick') }}
{{ attach_library('bs3/home-titles-js') }}

<!--
	vim:ft=html
-->
